<div class="dialog-container">
  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
  <div class="close-icon" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </div>
  <h2 mat-dialog-title class="heading">Sent View Mail</h2>
  <mat-dialog-content class="mat-typography">
    <mat-grid-list cols="4" rowHeight="60px" class="bg-whitesmoke">
      <mat-grid-tile class="filter">
        <div class="form-field-container">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input [rangePicker]="picker">
            <input matStartDate placeholder="Start date" name="startDate" [(ngModel)]="startDate"
              (ngModelChange)="updateSearchButtonState()">
            <input matEndDate placeholder="End date" name="endDate" [(ngModel)]="endDate"
              (ngModelChange)="updateSearchButtonState()">
          </mat-date-range-input>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </div>


      </mat-grid-tile>
      <mat-grid-tile class="filter">
        <div class="form-field-container">

          <mat-label>Select Email Inbox</mat-label>
          <mat-select [(ngModel)]="emailInbox" name="emailInbox" (selectionChange)="emailInboxChange($event.value)"
            (ngModelChange)="updateSearchButtonState()" class="mat-custom-ddn">
            <mat-option value="0"> All</mat-option>
            <mat-option *ngFor="let Category of categories" [value]="Category.id">

              {{ Category.name }}


            </mat-option>
          </mat-select>
        </div>
      </mat-grid-tile>
      <mat-grid-tile class="filter">
        <div class="form-field-container">

          <mat-label>Select Email Inbox Category</mat-label>

          <mat-select [(ngModel)]="emailInboxCategory" name="emailInboxCategory"
            (selectionChange)="emailInboxCategoryChange()" (ngModelChange)="updateSearchButtonState()">
            <mat-option value="0"> All</mat-option>
            <mat-option *ngFor="let subcategory of subcategories" [value]="subcategory.id">

              {{ subcategory.subcategory }}


            </mat-option>
          </mat-select>

        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1" class="filter">
        <div class="form-field-container">
          <mat-label>Email Subject</mat-label>
          <input matInput class="form-control" [(ngModel)]="subject" name="subject" (ngModelChange)="updateSearchButtonState()">
        </div>
      </mat-grid-tile>
      <mat-grid-tile colspan="1">

        <div class="form-field-container">
          <mat-select [(ngModel)]="emailSentType" placeholder="Email Send Type" >
            <mat-option disabled value="">- Select Send Type -</mat-option>
            <mat-option value="All">All</mat-option>
        
            <ng-container *ngIf="emailSentType !== 'All'">
              <mat-option value="Reply">Reply</mat-option>
              <mat-option value="ReplyAll">Reply All</mat-option>
              <mat-option value="Forward">Forward</mat-option>
              <mat-option value="Compose">Compose</mat-option>
            </ng-container>
          </mat-select>
        
          
        </div>
        <!-- <mat-form-field>
          <mat-label>-Email Send Type-</mat-label>
          <mat-select [(ngModel)]="emailSentType" name="emailSentType">
            <mat-option *ngFor="let option of emailSendTypes" [value]="option.value">
              {{option.label}}
            </mat-option>
          </mat-select>
        </mat-form-field> -->
        </mat-grid-tile>
        <mat-grid-tile class="btn" colspan="3">

          <div class="row btnContainer">
            <button mat-flat-button  color="primary"  (click)="clear()" class="clear">Clear</button>
            <button mat-flat-button color="primary" (click)="search()" class="search" [disabled]="!isSearchEnabled">Search</button>
          </div>
       
      </mat-grid-tile>
     

    </mat-grid-list>
    
    <mat-grid-list cols="1" rowHeight="50px" class="btn" >
    <mat-grid-tile  class="exportbtn">
        <button mat-flat-button color="primary" (click)="exportCsv()">
          <mat-icon>file_download</mat-icon> Export CSV
        </button>
      </mat-grid-tile>
    </mat-grid-list>


  
        <div class="customTable">
          <table mat-table [dataSource]="activePageDataChunk" id="data-table" class="table table-bordered">
            <!-- SubjectLine Column -->
            <ng-container matColumnDef="subjectLine">
              <th mat-header-cell *matHeaderCellDef> SubjectLine </th>
              <td mat-cell *matCellDef="let element">{{ element.subject }}</td>
            </ng-container>

            <!-- Email Inbox Column -->
            <ng-container matColumnDef="emailInbox">
              <th mat-header-cell *matHeaderCellDef> Email Inbox </th>
              <td mat-cell *matCellDef="let element">{{ element.category }}</td>
            </ng-container>

            <!-- Inbox Category Column -->
            <ng-container matColumnDef="inboxCategory">
              <th mat-header-cell *matHeaderCellDef>Inbox Category </th>
              <td mat-cell *matCellDef="let element">{{ element.subCategory }}</td>
            </ng-container>

            <!-- To Column -->
            <ng-container matColumnDef="to">
              <th mat-header-cell *matHeaderCellDef>To </th>
              <td mat-cell *matCellDef="let element">{{ element.toReceipient }}</td>
            </ng-container>

            <!-- CC Column -->
            <ng-container matColumnDef="cc">
              <th mat-header-cell *matHeaderCellDef>CC</th>
              <td mat-cell *matCellDef="let element">{{ element.ccReceipient }}</td>
            </ng-container>

            <!-- EmailSentType Column -->
            <ng-container matColumnDef="emailSentType">
              <th mat-header-cell *matHeaderCellDef>EmailSentType</th>
              <td mat-cell *matCellDef="let element">{{ element.emailSendType }}</td>
            </ng-container>

            <!-- SentDate Column -->
            <ng-container matColumnDef="sentDate">
              <th mat-header-cell *matHeaderCellDef> SentDate </th>
              <td mat-cell *matCellDef="let element">{{ element.sentDate | date }}</td>
            </ng-container>

            <!-- SentBy Column -->
            <ng-container matColumnDef="sentBy">
              <th mat-header-cell *matHeaderCellDef>SentBy</th>
              <td mat-cell *matCellDef="let element">{{ element.sentBy }}</td>
            </ng-container>

            <!-- Action Column -->
            <ng-container matColumnDef="action">
              <th mat-header-cell *matHeaderCellDef> Action </th>
              <td mat-cell *matCellDef="let element">
                <button mat-icon-button (click)="viewDetails(element)" matTooltip="View Email">
                  <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button (click)="sendEmail(element)" matTooltip="Send Email">
                  <mat-icon>send</mat-icon>
                </button>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let element; columns: displayedColumns;"></tr>
          </table>

          <div *ngIf="dataSource.length === 0" class="no-records">

            No record found, Please select relevent search criteria

          </div>


          <mat-paginator showFirstLastButtons [length]="dataSource.length" [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions" [pageIndex]= "pageIndex"
          (page)="onPageChanged($event)" class="table-pagination"></mat-paginator>
        </div>
      

 
    </mat-dialog-content>
</div>