<div class="template-container">
  <app-loading-spinner [isLoading]="isLoading"></app-loading-spinner>
  <div class="close-icon" (click)="closeModal()">
    <mat-icon>close</mat-icon>
  </div>
  <h2 mat-dialog-title class="heading">New Mail</h2>
  <div class="custom-dialog-container">
    <div style="display: flex; flex-direction: column;">
      <div class="form-field-container">
        <mat-label>From</mat-label>
        <div class="text-input-field">
          <mat-select   placeholder="Select Email Address" [(ngModel)]="selectedEmails"
            (selectionChange)="onEmailSelectionChange($event.value)">
            <mat-option *ngFor="let category of emailCategories" [value]="category.email">{{ category.email }}</mat-option>
          </mat-select>
        </div>
      </div>
      
      <div class="form-field-container">
        <mat-label >To</mat-label>
        <div class="text-input-field">
          <input matInput placeholder="To" ng-keyup="SearchUserGraph($event,'To')" uib-typeahead="object for object in customerEmails | limitTo:8" [(ngModel)]="toValue"  typeahead-on-select="onSelect($item, $model, $label,'To')">
        </div>
      </div>

      <div class="form-field-container">
        <mat-label>CC</mat-label>
        <div class="text-input-field">
          <input matInput placeholder="CC" [(ngModel)]="ccValue">
        </div>
      </div>

      <div class="form-field-container">
      
          <mat-label >Subject</mat-label>
          <div class="text-input-field">
            <input matInput placeholder="Subject" [(ngModel)]="subjectValue">
          </div>
        
      </div>
      <div class="toolbar-container">
        <div class="trix-toolbar">
          <div class="toolbar-group">
            <mat-icon (click)="applyTrixAttribute('bold')" matTooltip="Bold">format_bold</mat-icon>
            <span class="toolbar-separator"></span>
            <mat-icon (click)="applyTrixAttribute('italic')" matTooltip="Italic">format_italic</mat-icon>
            <span class="toolbar-separator"></span>
            <mat-icon (click)="applyTrixAttribute('strike')" matTooltip="Strikethrough">strikethrough_s</mat-icon>
            <span class="toolbar-separator"></span>
            <mat-icon (click)="applyTrixAttribute('link')" matTooltip="Link">link</mat-icon>
          </div>
          <div class="toolbar-group">
            <mat-icon (click)="applyTrixAttribute('bullet')" matTooltip="Bullet">format_list_bulleted</mat-icon>
            <span class="toolbar-separator"></span>
            <mat-icon (click)="applyTrixAttribute('number')" matTooltip="Number">format_list_numbered</mat-icon>
            <span class="toolbar-separator"></span>
            <mat-icon (click)="applyTrixAttribute('quote')" matTooltip="Quote">format_quote</mat-icon>
            <span class="toolbar-separator"></span>
            <mat-icon (click)="applyTrixAttribute('code')" matTooltip="Code">code</mat-icon>
            <span class="toolbar-separator"></span>
            <mat-icon (click)="increaseIndent()" matTooltip="Increase Indent">format_indent_increase</mat-icon>
            <span class="toolbar-separator"></span>
            <mat-icon (click)="decreaseIndent()" matTooltip="Decrease Indent">format_indent_decrease</mat-icon>
          </div>
          <div class="toolbar-group">
            <mat-icon (click)="undo()" matTooltip="Undo">undo</mat-icon>
            <span class="toolbar-separator"></span>
            <mat-icon (click)="redo()" matTooltip="Redo">redo</mat-icon>
          </div>
        </div>

      </div>
      <trix-editor #trixEditor [(ngModel)]="messageValue" class="trix-content" spellcheck="true" lang="en"
        style="overflow: auto; height: 200px; width: 100%; margin-top: 0;margin-left: 20px;margin-bottom: 20px;"
        (trix-change)="handleTrixChange($event)"></trix-editor>
    </div>
  </div>
  <div class="attachementContainer">
  <div class="attachement">
    <span>
      <i class="material-icons" style="vertical-align: middle;">attach_file</i>
    </span>
    <span>Attachment -</span>
  </div>
  <div class="attachment-list">
    <span *ngFor="let attachment of attachments" >
      <mat-icon [ngClass]="getIconClass(attachment)" (click)="openFile(attachment.attachmentId)"
        [matTooltip]="attachment.fileName">{{ attachment.icon }}</mat-icon>
      <mat-icon class="delete-icon" [matTooltip]="'Delete ' + attachment.fileName"
        (click)="deleteAttachment(attachment.attachmentId)">clear</mat-icon>
    </span>
  </div>
  <div class="attach-file-button-container">
    <label  for="fileInput">Select Files:</label>
    <input type="file" (change)="attachFile($event)" #fileInput multiple>
  </div>
  </div>

  <div class="template-actions" >
    
      
    
    <div class="checkboxes">
      <span>Do you want to include a feedback survey?</span>
      <mat-checkbox [(ngModel)]="isCheckedYes" (click)="onCheckboxChange('yes')">Yes</mat-checkbox>
      <mat-checkbox [(ngModel)]="isCheckedNo" (click)="onCheckboxChange('no')">No</mat-checkbox>
    </div>
    <div class="send-button">
      <button mat-raised-button class="saveBtn" color="primary" (click)="sendReply()">Send</button>
    </div>
    <div class="cancel-button">
      <button class="cancelBtn" mat-button (click)="closeModal()">Cancel</button>
    </div>
  </div>
  
</div>