
app-work-allocation 
{
    .mat-mdc-card-content{
    
        color:#337AB7;
         border-radius: 0px 0px 0px 0px;
         height: 28px;
         text-align: center;
         font-weight: bold;
         font-family: Calibri !important;
         font-size: 16px;
         background-color: #FAFBFD;
         padding: 0px;
}

.mat-mdc-card-content:last-child{
    padding-bottom: 0rem !important;
    padding-top: .5rem;
}
  .mat-mdc-card-header{
  padding-top: 0px !important;
  }

}

